.control-pane {
    -fx-spacing: 20;
    -fx-padding: 20;
}

.button {
    /* -fx-font-weight: bold; */
    -fx-font-size: 12;
}

.cartoon-button {
    /* -fx-shape: "m 39.935594,73.494915 98.999996,-9.061019 -1.67797,33.223729 H 48.99661 L 40.606778,75.508473 Z"; */
    /* -fx-background-color: red; */
    /* -fx-background-image: url("/Findonioncells.jpg"); */
    -fx-border-color: black ;
    -fx-border-width: 2 ; 
    -size: 200;
    -fx-padding: 10px;
    /* -fx-border-insets: 10px; */
    /* -fx-background-insets: 10px; */
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-font-size: 24;
    -fx-font-family: "Shantell Sans Light";
    -fx-text-alignment: center;
}

.cartoon-button:hover {
    -fx-background-color: orange;
}

.cartoon-checkbox {
    -fx-shape: "m 39.935594,73.494915 98.999996,-9.061019 -1.67797,33.223729 H 48.99661 L 40.606778,75.508473 Z";
    -fx-background-color: green;
    -fx-border-color: pink;
    -fx-border-width: 2 ; 
}

/* .check-box > .box {
    -fx-shape: "M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.26.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
} */